---
path: example/app/controller/{{name}}.{{default extension "mjs"}}
---

// Starting generation at {{time "%s"}}

// Default variable {{ default default_variable "This should not be shown" }}

export default function {{lowerCamelCase name}}() {
    console.log('Controller (normal) {{name}}');
    console.log('Controller (lower camel) {{lowerCamelCase name}}');
    console.log('Controller (upper camel) {{upperCamelCase name}}');
    console.log('Controller (snake) {{snakeCase name}}');
    console.log('Controller (kebab) {{kebabCase name}}');
    console.log('Controller (shouty snake) {{shoutySnakeCase name}}');
    console.log('Controller (shouty kebab) {{shoutyKebabCase name}}');
    console.log('Controller (title) {{titleCase name}}');
    console.log('Controller (train) {{trainCase name}}');

    console.log('Removing Hs with Gs', {{replace name "H" "G"}});
    console.log('Removing Hs with Gs ignoring case', {{regex_replace name "H(ell)o" "G${1}u"}});
    console.log('Current date is {{time}} (aka. {{time "%s"}}');
}

// Ending generation at {{time "%s"}}
