---
path: example/app/controllers.mjs
action:
  Append:
    After: "// Register Controllers"
---

{{set "output_file" (concat "./controller/" name "." (default extension "mjs"))}}

import {{lowerCamelCase name}} from '{{output_file}}';
controllers.addController({{lowerCamelCase name}});
